@using Sitecore.ContentSearch.Linq;
@using TAC.Utils.Helpers
@model events.tac.local.Models.EventList

@{
    int page = int.Parse(ViewBag.Page.ToString());
}

<div class="facets col-md-2">
    <span> Search: <input type="search" name="search" id="search" /></span><br /><br />

    @foreach (FacetCategory facetCategory in Model.Facets.Categories)
    {
        <fieldset>
            <legend><b>@facetCategory.Name</b></legend>
            @foreach (var facetValue in facetCategory.Values)
            {
                <span><input type='checkbox' name='@facetCategory.Name' value='@facetValue.Name' /> @facetValue.Name</span><br />
            }
        </fieldset>
    }
    <input type="hidden" id="page" value="@ViewBag.Page" />
    <input type="hidden" id="database" value="@ViewBag.Database" />
    <input type="hidden" id="language" value="@ViewBag.Language" />
    <input type="hidden" id="contextId" value="@ViewBag.ContextId" />

    <button id="FilterButton">Search</button>
</div>

<div class="content-list newslist col-md-10">
    <div id="eventsContainer">
        @{
            Html.RenderPartial("List", Model);
        }
    </div>
</div>

<div>
    @Html.Pager(Model.PageSize, Model.TotalResultCount, page)
</div>
<script type="text/javascript">

    $(function () {
        function loadEvents() {

            var durations = []
            $("input[name=duration]:checked").each(function () {
                durations.push(parseInt($(this).val()));
            });

            var difficultyLevels = []
            $("input[name=difficultylevel]:checked").each(function () {
                difficultyLevels.push(parseInt($(this).val()));
            });

            var parameters = {
                page: $('#page').val(),
                database: $('#database').val(),
                language: $('#language').val(),
                contextId: $('#contextId').val(),
                search: $('#search').val(),
                duration: durations,
                difficultyLevel: difficultyLevels
            };

            $.ajaxSettings.traditional = true;

            $.get({ url: "/api/sitecore/EventList/GetEvents", data: $.param(parameters) })
                .done(function (html) {
                    $('#eventsContainer').html(html);
                })
                .fail(function (xhr, status, error) { alert(xhr + ' -- ' + status + ' -- ' + error) })
        }

        $("#FilterButton").bind("click", function () {
            loadEvents();
        });
    });
</script>