@model IEnumerable<events.tac.local.Models.ICountry>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="@item.Url"><img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />@item.Name</a></li>
    }
</ul>